<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar color="primary" class="main-toolbar">
    <span>Music App - ngx-audio</span>
  </mat-toolbar>

  <mat-list color="primary">
    <h3 mat-subheader>Songs</h3>
    <mat-list-item *ngFor="let track of tracks; let i = index" (click)="playAt(i)">
      <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
      <h4 mat-line>{{ track.name }}</h4>
      <h5 mat-line>by {{ track.artist }}</h5>
      <mat-icon color="primary" *ngIf="state?.trackInfo.currentTrack === i && !error">volume_up</mat-icon>
      <h6 *ngIf="state?.trackInfo.currentTrack === i && error">ERROR</h6>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="media-footer">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
         {{ state?.trackInfo.currentTime | formatTime:'mm:ss' }} 
         <mat-slider class="time-slider" min="0" [max]="state?.trackInfo.duration" step="1" [value]="state?.trackInfo.currentTime" (change)="onSliderChangeEnd($event)"></mat-slider> 
         {{ state?.trackInfo.duration | formatTime:'mm:ss' }}
      </mat-toolbar-row>

      <mat-toolbar-row class="media-action-bar">
        <button mat-button [disabled]="state?.isFirstTrack" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        
        <button mat-button (click)="play()" *ngIf="!state?.playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>

        <button mat-button (click)="pause()" *ngIf="state?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>

        <button  mat-button [disabled]="state?.isLastTrack" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</div>
